{% if badges %}
  <ul class="tag-badges">
    {% for badge in badges %}
      {% set collection = badge.collection %}
      {% if collection %}
        {% set tag_href = url_for('collection_posts', collection_slug=collection.slug) %}
      {% else %}
        {% set tag_href = url_for('tag_posts') ~ '?tag=' ~ badge.tag|urlencode %}
      {% endif %}
      <li class="tag-badge" {% if collection and collection.color %}style="--tag-color: {{ collection.color }}"{% endif %}>
        <a href="{{ tag_href }}" class="tag-link">
          <span class="tag-label">{{ badge.tag|upper }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}


